* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
}
header{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    color: #fff;
    padding: 30px 60px;
}
button{
    outline: none;
    border: none;
    color: #fff;
}
.logo{
    text-transform: uppercase;
    font-weight: bold;
    color: #252525;
}

.btn-cart{
    background-color: #664659;
    padding: 10px 20px;
    transition: .5s;
    font-weight: bold;
}
.btn-cart:hover{
    background-color: #252525;
    color: #fff;
}
.btn-cart, .logo{
    align-self: center;
}
.products{
    column-gap: 30px;
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
}
p {
    margin: 0 0 5px 0;
}
.product-item{
    display: flex;
    flex-direction: column;
    width: 200px;
    overflow: hidden;
    margin: 20px 0;
}
img {
    max-width: 100%;
    height: auto
}
.desc {
    border: 1px solid #c0c0c040;
    padding: 15px
}
.buy-btn{
    margin-top: 5px;
    background-color: #252525;
    padding: 10px 20px;
    transition: .5s;
}
.buy-btn:hover{
    background-color: #664659;
    color: #fff;
}
.cart-total {
    padding: 40px 80px;
    font-weight: bold;
    color: #252525;
}